[color]
	ui = auto
[user]
	email = liuwenrong@coolpad.com
	name = liuwenrong
[core]
	filemode = false
	editor = vim
	autocrlf = false
	trustctime = false
[color]
	interactive = auto
	[alias]
    ;g=git
	st = status
    gs = git status ;无效 unused
	ci = commit -s
	cl = config --list
	co = checkout
	b = branch
	ba = branch -a
	bd = branch -d
	bD = branch -D
	bv = branch -vv
    ft = fetch
    rb = rebase
	r = remote
	rv = remote -v
	unstage = reset HEAD --
	last = log -1 HEAD
    l1 = log --pretty=oneline
	cp = cherry-pick
	br = branch
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[push]
	default = matching
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[oh-my-zsh]
	hide-status = 1
