" Modeline and Notes {
" vim: set sw=4 ts=4 sts=4 et tw=78 foldmarker={,} foldlevel=0 foldmethod=marker spell:
" }
"
" Environment 环境配置{{{
    
    "基础设置{{{
        set nocompatible
        filetype plugin on
        set showcmd
        set mouse=a
        colo evening
        set terse
        set warn
        "set number
        set nonu
        "set diffexpr=MyDiff()
        set ruler "可显示最后一排的状态
        set showmode "左下角那一行的状态
        set list "显示换行符$
    "}}}
    "
    "UI {
        开启高亮光标行
        set cursorline
        hi CursorLine   cterm=NONE ctermbg=darkred ctermfg=white guibg=darkred guifg=white
        开启高亮光标列
        set cursorcolumn
        hi CursorColumn cterm=NONE ctermbg=darkred ctermfg=white guibg=darkred guifg=white
    "}
    "
    "光标类型 Unavailable{{{
        "普通模式下用块状光标，在插入模式下用条状光标（形状类似英文 "I" 的样子），然后在替换模式中使用下划线形状的光标"
          "let &t_SI = "\<Esc>]50;CursorShape=1\x7"
          "let &t_EI = "\<Esc>]50;CursorShape=0\x7"
          "let &t_SR = "\<Esc>]50;CursorShape=2\x7"
            "let &t_EI = "\<Esc>]12;yellow\x7"
            "let &t_SI = "\<Esc>]12;blue\x7"
            "let &t_SR = "\<Esc>]12;red\x7"
     "}}}
     "
    "KeyMap Leader 键盘命令注:注释不能在语句之后{{{
        "使用的时候要按住空格\<Space>不可用,可用 空可用 不放"
        "let mapleader=" "
        "let localleader="\"
        let mapleader="\"
    "}}}

            "vimrc和保存退出{{{
                nmap <silent> <leader>ev :e $MYVIMRC<CR>
                nmap <silent> <leader>sv :so $MYVIMRC<CR>
                nmap <A-w> :w<CR>
                nmap <A-q> :q<CR>
                nmap <leader>q :q<CR>
            "}}}

            "便捷{{{
                "如果你希望 n 始终为向后搜索，N 始终为向前搜索，那么只需要这样设置：
                nnoremap <expr> n  'Nn'[v:searchforward]
                nnoremap <expr> N  'nN'[v:searchforward]
                "Vim 用户都不愿意去按方向键，事实上我们也不需要去按，只需要设置这样的映射：
                cnoremap <c-n> <down>
                cnoremap <c-p> <up>
             "}}}

            "Cursor 光标移动{{{
                map <CR> gg
                map <Space> <C-f>
                imap <C-h> <Left>
                imap <C-j> <Down>
                imap <C-k> <Up>
                imap <C-l> <Right>
                "fj同时按相当于退出"
                "inoremap fj <C-o>       
                imap <C-i> <Esc>
                "map <F2> i{<Esc>ea}<Esc>
                "map <F1> i + "--1703"<Esc>i
               "回到句首"   "回到句末"
                imap <C-a> <Esc>^
                imap <C-e> <Esc>$
                " Map <Space> to / (search) and Ctrl-<Space> to ? (backwards search)
                "map <Space> /
                "nmap, <C-Space> ?
                " useable
                map J j
                " KJump 配置"
"Name           Action              Desc
"KJump          KJumpAction         Input 1 character and jump to any same character.
"KJump Word 0   KJumpAction.Word0   Jump to any word.
"KJump Word 1   KJumpAction.Word1   Input 1 character and jump to any word start with this character.
"KJump Line     KJumpAction.Line    Jump to any line.

                map <leader>f :action KJumpAction<cr>
                map <leader>w :action KJumpAction.Word0<cr>
                map <leader>l :action KJumpAction.Line<cr>
             "}}}

            "窗口移动{{{
                " Smart way to move between windows
                nmap <C-j> <C-W>j
                nmap <C-k> <C-W>k
                nmap <C-h> <C-W>h
                nmap <C-l> <C-W>l
                "map <F10> :<Esc>:tabnew<CR>
                "map <A-e> :browse tabnew<CR>
             "}}}

     "Copy & Yank & Paste & Put{{{
        if has('clipboard')
            if has('unnamedplus')  " When possible use + register for copy-paste
                set clipboard=unnamed,unnamedplus
            else         " On mac and Windows, use * register for copy-paste
                "set clipboard=unnamed
                set clipboard=unnamed,unnamedplus
            endif
        endif
        nnoremap Y y$
        "自动跳转到文本的最后"     "使用pppp进行多行多次粘贴操作"
        vnoremap <silent> y y`]
        vnoremap <silent> p p`]
        nnoremap <silent> p p`]

        "在Visual模式中使用Ctrl+c复制内容到全局剪贴板
        vnoremap <C-c> "+y
        map <C-y> "+y

        "在Visual模式中使用Ctrl+x剪切内容到全局剪贴板
        vnoremap <C-x> "+x
        "在全模式中使用Shift+Insert粘贴全局剪贴板内容,选择模式先替换后粘贴
        "inoremap <C-v> <esc>:set paste<cr>mui<C-R>+<esc>mv'uV'v=:set nopaste<cr>
        vmap <S-Insert> "vdh"+p
        nmap <S-Insert> "+p
        inoremap <S-Insert> <C-r>+
        cnoremap <S-Insert> <C-r>+
        "在插入模式中使用Ctrl+v粘贴全局剪贴板内容
        "inoremap <C-v> <esc>l:set paste<cr>mui<C-R>+<esc>mv'uV'v=:set nopaste<cr>
        "vmap <C-v> "-d"+p
        "imap <C-v> <S-insert>
        "map <C-v> "+p
      "}}}

            "缩写{{{
                iab xdate =strftime("%Y-%m-%y")
                iab xdate1 =strftime("%Y-%m-%y %H:%M:%S")
                iab xname liuwenrong.Roger
            "}}}

       "}}}

function MyDiff()
  let opt = '-a --binary '
  if &diffopt =~ 'icase' | let opt = opt . '-i ' | endif
  if &diffopt =~ 'iwhite' | let opt = opt . '-b ' | endif
  let arg1 = v:fname_in
  if arg1 =~ ' ' | let arg1 = '"' . arg1 . '"' | endif
  let arg2 = v:fname_new
  if arg2 =~ ' ' | let arg2 = '"' . arg2 . '"' | endif
  let arg3 = v:fname_out
  if arg3 =~ ' ' | let arg3 = '"' . arg3 . '"' | endif
  if $VIMRUNTIME =~ ' '
    if &sh =~ '\<cmd'
      if empty(&shellxquote)
        let l:shxq_sav = ''
        set shellxquote&
      endif
      let cmd = '"' . $VIMRUNTIME . '\diff"'
    else
      let cmd = substitute($VIMRUNTIME, ' ', '" ', '') . '\diff"'
    endif
  else
    let cmd = $VIMRUNTIME . '\diff'
  endif
  silent execute '!' . cmd . ' ' . opt . arg1 . ' ' . arg2 . ' > ' . arg3
  if exists('l:shxq_sav')
    let &shellxquote=l:shxq_sav
  endif
endfunction
